<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zxin">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:replace="android:allowBackup"
        android:theme="@style/AnimationActivity">
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <!-- 百度地图API -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="VOfm0hW58xv3Gy1f9EjdThwZNf9nzPfu" />
        <!--阿里百川-->
       <meta-data
            android:name="com.alibaba.app.appkey"
            android:value="24957736"/>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddressListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GuanJianziActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditHttpUrlActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditGuanJianziActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditDropDownMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditTitleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HttpUrlDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MineMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.test.TestJsonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.test.TestHtmlActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.test.TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.test.MyRaioGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.test.PullRecyclerViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.test.NCalendarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.test.MenuManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.test.TestExecutorActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.test.ImplicitActivity"
            android:label="ImplicitActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="implicit"
                    android:scheme="router" />
            </intent-filter>
        </activity>
        <!--
            7.0以上 相机调用 按照Android N的要求，若要在应用间共享文件，您应发送一项 content://URI，并授予 URI 临时访问权限。
            而进行此授权的最简单方式是使用 FileProvider类。（修改后的伪代码在讲述FileProvider的使用时会写）
            说明文档参考 https://developer.android.com/reference/android/support/v4/content/FileProvider.html
        -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <service android:name="com.zxin.service.InitializeService"/>
    </application>

</manifest>