<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zxin.jiuxian">
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="com.zxin.jiuxian.activity.AppLinkActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:pathPrefix="/link"
                    android:scheme="jiuxian" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zxin.jiuxian.activity.LogoActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/JiuXianSplashTheme" />
        <activity
            android:name="com.zxin.jiuxian.activity.AppStateActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:pathPrefix="/state"
                    android:scheme="jiuxian" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zxin.jiuxian.activity.BrowserCommendInterPicActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.PhotoSelectorActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.WelcomeActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/welcome_splash" />
        <activity
            android:name="com.zxin.jiuxian.activity.GuideActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.MainActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.zxin.jiuxian.activity.SearchActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/searchActivityThene" />
        <activity
            android:name="com.zxin.jiuxian.activity.ProductDetailActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name="com.zxin.jiuxian.activity.ProductCommentsActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.CommentCenterActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.RegisterActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.FindPasswordActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.RegisterFindPWNextActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.AddressDialogActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.AddressMatchDialogActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.BrowserInterPicActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.JiuXianRapidLoginActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.JiuXianLoginActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.ThirdSquareBindingActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.OrderCommitActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.OrderDetailActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.OrderLookInviceActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.CollectActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.PaymentSuccessfulActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.PaymentFailActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.PaymentCenterActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.OrderListActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.OrderListTabActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.zxin.jiuxian.activity.SearchOrderListActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.UserWalletActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.UserWalletHelpActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.UserBalanceActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.UserCashbackActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.UserCouponActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.UserMoreCouponActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.UserAddCouponActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.UserGoldActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.JIuXianSettingActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.CommodityExchangeActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.AboutUsActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.BrowserLicenseActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.CompanyLicenseActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.AddressManagerActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.NewAddressActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.ProductListActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name="com.zxin.jiuxian.activity.CreditActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.SeckillActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.SeckillNoticeActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.SeckillRecommendActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.MessageSettingActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.zxin.jiuxian.activity.MyUserInfoActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.ModificationNickNameActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.AccountSafeActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.IdeaFeedbackActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.ModificationPhoneCheckActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.ModificationUserPwdFlowOneActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.ModificationUserPwdFlowTwoActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.CouponChoiceActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.InvoiceInfoActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.PaymentTypeActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.LogisticsActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.SettingPayPwdFlowOneActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.SettingPayPwdFlowTwoActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.BindPhoneCheckActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.ActivePackSuitActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.CartActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.zxin.jiuxian.activity.CommentListActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.AddCommentListActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.AddCommentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.AppendCommentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.CommentSuccessfulActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.CommentDetailActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.CommentGuideActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.ActiveLetYouChooseActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.ActiveManActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.ActiveAddPriceActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.ActiveSingleAddPriceActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.ModificationUserPwdFlowZeroActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.JiaJiaGouActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.ServerModeActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.FootPrintActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.BaiKeDetailActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.MiaoChateauActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.MiaoProductingAreaActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.BaiKeCountryActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.BaiKeWineTypeActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.PhoneVipActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.DownPriceRemindActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.CaptureWineWikiActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.CommunitySearchActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.CommunitySearchResultActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="JIUXIAN_CHANNEL"
            android:value="jiuxianwebsite" />
        <meta-data
            android:name="BUILD_TIME"
            android:value="2018/07/25 17:28:00" />

        <activity
            android:name="com.zxin.jiuxian.activity.CommunityCircleDetailActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.CommunityPromotionDetailActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.CommunityContentDetailActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:launchMode="singleTop"
            android:process=":community_content"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.zxin.jiuxian.activity.CommunityChooseWineListActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.CommunityAddProActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.CommunityCreateTopicActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name="com.zxin.jiuxian.activity.CommunityPhotoSelectorActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.CommunityPersonCenterActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.CommunityExperienceActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.CommunityMessageActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.zxin.jiuxian.activity.MessageCenterActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.LogisticsAssistantActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.PreferentialPromoteSalesActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.SystemNewsActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.CaptureWineCameraActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.CaptureWineActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.ConfigTestActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.GoldCoinMessageListActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.GlobalAlertActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.WineActiveActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.WineActiveSearchActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.AuthByQRCodeActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.PromotionPresentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.PromotionRenNiTiaoActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.MemberChannelActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.ExchangeDetailActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.ExchangeRecordActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.PaymentSuccessfulForWapActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.SlidingTabActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.CommunityPersonCenterTopicListActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.WebSecKillingActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.ChatRoomActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.zxin.jiuxian.activity.ChatForceOfflineDialogActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxin.jiuxian.activity.JiuXianWebActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name="com.zxin.jiuxian.service.WelcomeImageDownloadService"
            android:exported="true" />
    </application>

</manifest>
